[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pandas = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
ipython = "*"
jupyter = "*"
sympy = "*"
nose = "*"
scikit-learn = "*"
seaborn = "*"
jupyterlab = "*"
scikit-image = "*"
opencv-contrib-python = "*"
imageio = "*"
scikit-video = "*"
ffmpeg-python = "*"
ipykernel = "*"


[dev-packages]

pylint = "*"


[requires]

python_version = "3.6"
